{% extends 'nameservice/base.html' %}
{% block title %}List of names{% endblock %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date of creation</th>
            </tr>
            </thead>
            <tbody>
            {% for item in names_list %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}